:root {
  --basick-black: #011c44;
  --full-black: #000000;
  --brand-blue: #2b7fff;
  --white: #ffffff;
  --grey-for-small: #747272;
  --call-grey: #4a4a4a;
  --star: #011f4a;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--basick-black);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a,
button,
input,
*:hover {
  transition: all 0.2s;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v48-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v48-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v48-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v48-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v48-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/roboto-v48-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v48-latin-900.woff2") format("woff2");
}
@font-face {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Play-Regular.ttf");
}
@font-face {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Play-Bold.ttf");
}
/* ---------------------------Animation---------------------------- */
@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) scale(1.3);
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}
.icon-star64,
.icon-star40,
.icon-star16 {
  animation: spinScale 4s infinite ease-in-out;
  transform-origin: center;
}

.header-burger {
  display: block;
  background-color: transparent;
  border: none;
  padding: 16px 80px 0 0;
}
@media screen and (min-width: 1200px) {
  .header-burger {
    display: none;
  }
}

.mobile-close {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 16px 90px 0 0;
  width: 24px;
  height: 24px;
}

.button-top {
  background: var(--brand-blue);
  border: 2px solid var(--brand-blue);
  border-radius: 24px;
  width: 186px;
  height: 44px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  margin: 0 auto 8px;
  display: block;
}
@media screen and (min-width: 768px) {
  .button-top {
    display: inline;
    border-radius: 32px;
    width: 219px;
    height: 53px;
    font-size: 18px;
    margin-bottom: 14px;
  }
}
.button-top:active {
  background-color: transparent;
  color: var(--basick-black);
}

.procedur-button-arrow {
  display: none;
}
@media screen and (min-width: 1200px) {
  .procedur-button-arrow {
    display: block;
    background-color: transparent;
    border: none;
  }
}

.form-button {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 241px;
  height: 44px;
  background: var(--brand-blue);
  border: 2px solid var(--brand-blue);
  border-radius: 32px;
  line-height: 1;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .form-button {
    width: 281px;
    height: 53px;
    font-size: 18px;
  }
}
.form-button:active {
  background-color: var(--white);
  color: var(--basick-black);
}

.form {
  background-color: var(--basick-black);
  background-image: url(../images/background-line.png);
  color: var(--white);
  border-radius: 32px;
  font-weight: 600;
  font-size: 22px;
  padding: 0 20px;
}
@media screen and (min-width: 1200px) {
  .form {
    min-width: 422px;
    max-height: 481px;
    padding: 0;
  }
}
.form__content {
  margin: 48px 56px;
  text-align: center;
}
.form__title {
  max-width: 276px;
  margin: 0 auto 32px;
}
.form__free {
  color: var(--brand-blue);
}
.form__conteiner {
  margin: 0 auto;
  padding-bottom: 42px;
  max-width: 310px;
}
.form__field {
  margin-bottom: 16px;
}

.modal-form {
  background-color: var(--basick-black);
  background-image: url(../images/background-line.png);
  color: var(--white);
  font-weight: 600;
  font-size: 22px;
  border-radius: 32px;
  min-width: 422px;
  max-height: 481px;
}
.modal-form__content {
  margin: 0px 62px;
  text-align: center;
}
.modal-form__title {
  max-width: 276px;
  margin: 0 auto 32px;
}
.modal-form__free {
  color: var(--brand-blue);
}
.modal-form__conteiner {
  margin: 0 auto;
  max-width: 310px;
}
.modal-form__field {
  margin-bottom: 24px;
}

.contact-map {
  border: none;
  height: 232px;
  margin: 0 -24px;
}
@media screen and (min-width: 768px) {
  .contact-map {
    width: 100%;
    min-height: 481px;
    border-radius: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-map {
    border-radius: 32px;
    max-width: 605px;
    min-height: 481px;
  }
}

.pagination {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}
.pagination__button {
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--grey-for-small);
}
.pagination__button--active {
  background-color: var(--brand-blue);
}

/* ---------------------------header---------------------------- */
.header-icon {
  display: inline-block;
  fill: var(--basick-black);
}
.header-icon:hover {
  fill: var(--brand-blue);
}

.header-menu {
  stroke-width: 0;
  fill: var(--white);
}

/* ---------------------------stars---------------------------- */
.icon-star64 {
  position: absolute;
  bottom: 286px;
  left: 804px;
  display: inline-block;
  fill: var(--star);
}

.icon-star40 {
  position: absolute;
  top: 22px;
  left: 1172px;
  display: inline-block;
  fill: var(--brand-blue);
  transform: rotate(60deg);
}

.icon-star16 {
  position: absolute;
  top: 260px;
  left: 1165px;
  display: inline-block;
  fill: var(--grey-for-small);
  transform: rotate(8deg);
}

/* -------------------------------------modal-------------------- */
.icon-close {
  stroke-width: 4px;
  stroke: var(--white);
  fill: transparent;
  position: relative;
  top: -2px;
  left: -7px;
}
.icon-close:hover {
  transform: scale(1.2);
}
.icon-close:active {
  transform: scale(0.8);
}

/* -------------------------------------mobile-------------------- */
.icon-close-mobile {
  stroke-width: 4px;
  stroke: var(--basick-black);
  fill: transparent;
  position: relative;
  top: -2px;
  left: -7px;
}
.icon-close-mobile:hover {
  transform: scale(1.2);
}
.icon-close-mobile:active {
  transform: scale(0.8);
}

/* -------------------------------------Section why--------------------- */
.why-we-icons {
  fill: var(--brand-blue);
  margin-bottom: 8px;
}

/* ---------------------------------------Section procedur--------------- */
.icon-arrow {
  stroke-width: 2px;
  stroke: var(--basick-black);
  fill: transparent;
  position: relative;
  z-index: 1;
}
.icon-arrow:hover {
  stroke-width: 2px;
  stroke: var(--white);
  fill: var(--brand-blue);
}
.icon-arrow.right {
  transform: rotate(180deg);
}

/* ------------------------------------Footer------------------------ */
.footer-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  fill: var(--white);
  margin-right: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-icon {
    width: 42px;
    height: 42px;
    margin-right: 24px;
  }
}
.footer-icon:hover {
  fill: var(--brand-blue);
}

.input__label {
  display: block;
}
.input__input {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  width: 100%;
  height: 52px;
  border-radius: 32px;
  background-color: transparent;
  border: 2px solid var(--grey-for-small);
  outline: none;
  color: var(--white);
  padding: 18px 33px;
}
.input__input:focus {
  color: var(--white);
  background-color: var(--grey-for-small);
}
.input__input::placeholder {
  color: var(--white);
}

.text-under-call {
  color: var(--call-grey);
  font-size: 12px;
  line-height: 1.5;
  max-width: 220px;
  margin: 8px auto 0;
}
.text-under-call a {
  color: var(--call-grey);
  font-size: 12px;
  line-height: 1.5;
  text-decoration: underline;
}

.about-content {
  padding-bottom: 176px;
}
@media screen and (min-width: 1200px) {
  .about-content {
    display: flex;
    gap: 32px;
  }
}
.about-content__left-block {
  padding: 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about-content__left-block {
    flex-basis: calc(57% - 16px);
    padding: 40px 10px 0 0;
  }
}
.about-content__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .about-content__title {
    margin-bottom: 40px;
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 64px;
  }
}
.about-content__text {
  font-size: 18px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .about-content__text {
    font-size: 22px;
    line-height: 1.7;
  }
}
.about-content__text-1 {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .about-content__text-1 {
    margin-bottom: 40px;
  }
}
.about-content__text-2 {
  margin-bottom: 0px;
}
.about-content__text-2 span {
  font-weight: 600;
  text-transform: capitalize;
}
.about-content__right-block {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-content__right-block {
    display: inline;
    flex-basis: calc(34% - 16px);
    flex-grow: 1;
  }
}
.about-content__images {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-content__image-top {
  width: 327px;
  align-self: flex-start;
}
.about-content__image-bottom {
  width: 327px;
  align-self: flex-end;
}

.contact-content {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .contact-content {
    padding-bottom: 94px;
  }
}
.contact-content__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .contact-content__title {
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 48px;
  }
}
.contact-content__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .contact-content__content {
    flex-direction: row;
    gap: 32px;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 24px;
  margin: 0 auto;
  min-width: 360px;
}

.footer {
  background-color: var(--basick-black);
  background-image: url(../images/background-line.png);
  min-width: 360px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 91px 66px;
}
@media screen and (min-width: 1200px) {
  .footer__content {
    flex-direction: row;
    gap: 186px;
    padding: 56px 0;
    position: relative;
    text-align: justify;
  }
}
.footer__content::after {
  display: none;
}
@media screen and (min-width: 1200px) {
  .footer__content::after {
    display: block;
    background-image: url(../images/footer-photo.png);
    position: absolute;
    width: 247px;
    height: 152px;
    content: "";
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2ddpx) {
  .footer__content::after {
    background-image: url(../images/footer-photo@2x.png);
  }
}
.footer__nav {
  margin-bottom: 16px;
  min-width: 120px;
}
.footer__address-and-social {
  order: 1;
}
@media screen and (min-width: 1200px) {
  .footer__address-and-social {
    order: 0;
  }
}
.footer__address {
  display: none;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    display: block;
  }
}
.footer_link {
  font-size: 16px;
  color: var(--white);
}
.footer_link:hover {
  color: var(--brand-blue);
}
.footer__address {
  margin-bottom: 16px;
}
.footer__social {
  width: max-content;
  margin: 0 auto;
}
.footer__politik {
  min-width: 200px;
  max-height: 24px;
}
.footer__copy {
  display: none;
}
@media screen and (min-width: 1200px) {
  .footer__copy {
    display: block;
    color: var(--grey-for-small);
    font-size: 13px;
    margin-top: 16px;
  }
}
.footer__copy-for-bp {
  display: block;
  color: var(--grey-for-small);
  font-size: 13px;
  margin-top: 16px;
  order: 2;
}
@media screen and (min-width: 1200px) {
  .footer__copy-for-bp {
    display: none;
  }
}

.header-container {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(0px);
  background: rgba(255, 255, 255, 0);
}
@media screen and (min-width: 1200px) {
  .header-container {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.25);
  }
}
.header-container__nav {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  margin: 0 auto;
  align-items: center;
}
.header-container__top-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-container__top-menu {
    display: flex;
    padding: 0 5px;
    gap: 56px;
  }
}
.header-container__link {
  color: var(--basick-black);
}
.header-container__link:hover {
  color: var(--brand-blue);
}
.header-container__social-icons-flex {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-container__social-icons-flex {
    display: flex;
    gap: 32px;
  }
}

.hero-container {
  background-image: linear-gradient(56.68deg, #ffffff 20.92%, rgba(255, 255, 255, 0.78) 44.46%, rgba(255, 255, 255, 0.2) 58.9%, rgba(255, 255, 255, 0) 72.45%), url(../images/main-photo.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ddpx) {
  .hero-container {
    background-image: linear-gradient(56.68deg, #ffffff 20.92%, rgba(255, 255, 255, 0.78) 44.46%, rgba(255, 255, 255, 0.2) 58.9%, rgba(255, 255, 255, 0) 72.45%), url(../images/main-photo@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(89.38deg, #ffffff 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%), url(../images/main-photo.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2ddpx) {
  .hero-container {
    background-image: linear-gradient(89.38deg, #ffffff 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%), url(../images/main-photo@2x.jpg);
  }
}
.hero-container__content {
  padding: 126px 0 0 106px;
}
.hero-container__subtitle {
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 0 0;
}
@media screen and (min-width: 768px) {
  .hero-container__subtitle {
    text-align: left;
    margin: 0 0 16px 0;
    padding: 16px 0 0 0;
  }
}
.hero-container__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 0.8;
  font-family: Play, sans-serif;
  margin-bottom: 32px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-container__title {
    font-size: 140px;
    max-width: 568px;
    text-align: left;
    margin-bottom: 40px;
  }
}
.hero-container__text-under-call {
  color: var(--call-grey);
  font-size: 11px;
  line-height: 1.6;
  padding-bottom: 56px;
  margin: 0 auto;
  text-align: center;
  max-width: 226px;
}
@media screen and (min-width: 768px) {
  .hero-container__text-under-call {
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 126px;
    margin: 0;
  }
}

.hero-section {
  background-image: linear-gradient(56.68deg, #ffffff 20.92%, rgba(255, 255, 255, 0.78) 44.46%, rgba(255, 255, 255, 0.2) 58.9%, rgba(255, 255, 255, 0) 72.45%), url(../images/main-photo.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero-section {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(89.38deg, #ffffff 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%), url(../images/main-photo.jpg);
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: var(--white);
  transform: translateX(100%);
  transition: transform 0.3s;
  display: flex;
}
.mobile__content {
  padding: 16px 20px;
}
.mobile__menu {
  margin-top: 32px;
}
.mobile__link {
  margin-bottom: 16px;
}
.mobile__social-icons {
  display: flex;
  gap: 16px;
}
.mobile.is-open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  max-width: 724px;
  max-height: 682px;
  width: 100%;
  height: 100%;
  border-radius: 48px;
  background-color: var(--basick-black);
  background-image: url(../images/background-line.png);
  position: relative;
  text-align: center;
  padding: 42px 144px;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.modal-title-text {
  color: var(--white);
  margin-bottom: 40px;
  line-height: 1;
}

.under-modal-title-text {
  margin: 0 auto 32px;
  line-height: 1;
  max-width: 276px;
}

.under-modal-title-text span {
  color: var(--brand-blue);
}

.procedur-content {
  padding-bottom: 139px;
}
.procedur-content__carusel {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}
.procedur-content__container {
  overflow: hidden;
}
.procedur-content__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .procedur-content__title {
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 48px;
  }
}
.procedur-content__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0 120px;
  background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011c44 101.39%);
}
.procedur-content__text {
  position: absolute;
  bottom: 32px;
  left: 115px;
  right: 77px;
  color: var(--white);
  font-size: 22px;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
}
.procedur-content__photo {
  position: relative;
  border-radius: 0 120px;
  width: 100%;
  height: auto;
  display: block;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .procedur-content__photo {
    width: 100%;
    height: auto;
  }
}

.why-we-section {
  position: relative;
}

.why-we-content {
  padding: 0 22px 40px;
}
@media screen and (min-width: 1200px) {
  .why-we-content {
    padding: 0 66px 96px;
  }
}
.why-we-content__background {
  background-image: url(../images/background-why-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 940px;
  left: 0;
  top: -160px;
  min-width: 360px;
}
@media screen and (min-width: 768px) {
  .why-we-content__background {
    top: -116px;
    height: 1505px;
    background-image: url(../images/background-why.png);
  }
}
@media screen and (min-width: 1200px) {
  .why-we-content__background {
    top: -204px;
    height: 1505px;
    background-image: url(../images/background-why.png);
  }
}
.why-we-content__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  max-width: 210px;
  margin: 0 auto;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .why-we-content__title {
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin: 0 auto;
    padding-bottom: 48px;
    max-width: 446px;
  }
}
.why-we-content__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .why-we-content__list {
    flex-direction: row;
    line-height: 1.3;
    color: var(--full-black);
    gap: 56px;
    margin: 0 auto;
  }
}
.why-we-content__item {
  width: 316px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 32px;
  padding: 24px 32px;
  height: 181px;
  justify-content: flex-end;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .why-we-content__item {
    min-width: 316px;
  }
}

.text-brand {
  text-transform: capitalize;
  color: var(--brand-blue);
}

.color-brand {
  color: var(--brand-blue);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}/*# sourceMappingURL=main.css.map */