@use '../abstracts/variables' as *;
.about-content {
  padding-bottom: 176px;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    gap: 32px;
  }

  &__left-block {
    padding: 0;
    position: relative;
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc(57% - 16px);
      padding: 40px 10px 0 0;
    }
  }

  &__title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
      font-family: Play, sans-serif;
      font-weight: 700;
      font-size: 64px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1;
    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      line-height: 1.7;
    }
  }

  &__text-1 {
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
    }
  }

  &__text-2 {
    margin-bottom: 0px;
    & span {
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  &__stars{
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }

  }

  &__right-block {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: inline;
      flex-basis: calc(34% - 16px);
      flex-grow: 1;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__image-top {
    width: 327px;
    align-self: flex-start;
  }

  &__image-bottom {
    width: 327px;
    align-self: flex-end;
    
  }
}
