@use '../abstracts/variables' as *;

.header-container {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(0px);
  background: rgba(255, 255, 255, 0);
   

  @media screen and (min-width: $bp-desktop) {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    margin: 0 auto;
    align-items: center;  
  }

  &__top-menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      padding: 0 5px;
      gap: 56px;
    }
  }

  &__link {
    color: var(--basick-black);

    &:hover {
      color: var(--brand-blue);
    }
  }

  &__social-icons-flex {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
    }
  }
}
