@use '../abstracts/variables' as *;
.hero-container {
  background-image: linear-gradient(
      56.68deg,
      #ffffff 20.92%,
      rgba(255, 255, 255, 0.78) 44.46%,
      rgba(255, 255, 255, 0.2) 58.9%,
      rgba(255, 255, 255, 0) 72.45%
    ),
    url(../images/main-photo.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  min-width: 360px;
  padding-bottom: 156px;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ddpx) {
    background-image: linear-gradient(
        56.68deg,
        #ffffff 20.92%,
        rgba(255, 255, 255, 0.78) 44.46%,
        rgba(255, 255, 255, 0.2) 58.9%,
        rgba(255, 255, 255, 0) 72.45%
      ),
      url(../images/main-photo@2x.jpg);
  }

  @media screen and (min-width: $bp-desktop) {
    height: 100%;
    width: 100%;
    background-position: center top;
    background-image: linear-gradient(
        89.38deg,
        #ffffff 30.62%,
        rgba(255, 255, 255, 0.850898) 41.31%,
        rgba(255, 255, 255, 0.193204) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(../images/main-photo.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ddpx) {
      background-image: linear-gradient(
          89.38deg,
          #ffffff 30.62%,
          rgba(255, 255, 255, 0.850898) 41.31%,
          rgba(255, 255, 255, 0.193204) 58.65%,
          rgba(255, 255, 255, 0) 72.78%
        ),
        url(../images/main-photo@2x.jpg);
    }
  }

  &__content {
    padding-top: 126px;
    @media screen and (min-width: $bp-desktop) {
      padding: 126px 0 0 106px;
    }
  }

  &__subtitle {
    text-align: center;
    margin: 0 auto;
    padding: 25px 0 0 0;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      margin: 0 0 16px 0;
      padding: 16px 0 0 0;
    }
  }

  &__title {
    font-size: 54px;
    font-weight: 700;
    line-height: 0.8;
    font-family: Play, sans-serif;
    margin-bottom: 32px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      max-width: 568px;
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__text-under-call {
    color: var(--call-grey);
    font-size: 11px;
    line-height: 1.6;
    padding-bottom: 56px;
    margin: 0 auto;
    text-align: center;
    max-width: 226px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      line-height: 1.5;
      padding-bottom: 126px;
      margin: 0;
    }
  }
}
