@use '../abstracts/variables' as *;


.modal {
  max-width: 724px;
  max-height: 682px;
  min-width: 320px;
  border-radius: 48px;
  background-color: var(--basick-black);
  background-image: url(../images/background-line.png);
  position: relative;
  text-align: center;
  padding: 42px 5px;
  margin: 10px;

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 144px;
  }

  &__title-text {
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: var(--white);
    margin-bottom: 40px;
    line-height: 1;
  }

}