/* ---------------------------Animation---------------------------- */

@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg) scale(1.3);
    opacity: 0.7;
  }

  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

.icon-star64,
.icon-star40,
.icon-star16 {
  animation: spinScale 4s infinite ease-in-out;
  transform-origin: center;
}
