@use '../abstracts/variables' as *;
.contact-map {
  border: none;
  height: 232px;
  margin: 0 -24px;

  @media screen and (min-width: $bp-tablet) {
    width: 100%;
    min-height: 481px;
    border-radius: 32px;
  }

  @media screen and (min-width: $bp-desktop) {
    border-radius: 32px;
    max-width: 605px;
    min-height: 481px;
  }
}
