:root {
  --basick-black: #011c44;
  --full-black: #000000;
  --brand-blue: #2b7fff;
  --white: #ffffff;
  --grey-for-small: #747272;
  --call-grey: #4a4a4a;
  --star: #011f4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
